#hero {
    background-image: url("../PHOTOS/landing-page-hero.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left;
    padding: 5vw;
    color: var(--white);
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw;
    gap: 2vw;
    background-color: var(--dark-green);
    color: var(--pink);
    text-align: center;
}

#serve {
    display: flex;
    flex-direction: column;
}

#serve h1 {
    color: var(--light-green);
}

#items {
    display: grid;
    /* flex-wrap: nowrap; */
    overflow-x: auto;
    gap: 4vw;
    margin: 4vw 4vw 2vw 4vw;
    scrollbar-width: none;
}

@media (min-width: 1091px) {
    #items {
        grid-template-columns: repeat( 4 , 300px);
    }
}

@media (max-width: 1090px) {
    #items {
        grid-template-columns: repeat( 4 , 250px);
    }
}

@media (max-width: 750px) {
    #items {
        grid-template-columns: repeat( 4 , 200px);
    }
}

@media (max-width: 600px) {
    #items {
        grid-template-columns: repeat( 4 , 150px);
    }
}

@media (max-width: 400px) {
    #items {
        grid-template-columns: repeat( 4 , 100px);
    }
}

.serve-item {
    /* width: 200px; */
    aspect-ratio: 2/3;
    justify-items: center;
    align-content: flex-end;
    /* background-color: var(--pink); */
}

.serve-item img {
    height: 100%;
    /* border-radius: 2vw; */
}

.serve-item h2 {
    padding: 1vw 0 0 0;
}

button {
    border: none;
    padding: 1rem 2.5rem;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    /* font-size: 1rem; */
    margin: 2vw;
    cursor: pointer;
}

#white {
    background-color: var(--white);
    color: var(--dark-green);
}

#green {
    background-color: var(--dark-green);
    color: var(--pink);
    align-self: flex-end;
}